<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grays2.system.mapper.PermissionsMapper">

    <resultMap type="com.grays2.system.entity.Permissions" id="PermissionsMap">
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
        <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
        <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
        <result property="permissionType" column="permission_type" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="sysCode" column="sys_code" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="base_column">
permission_idpermission_namepermission_codepermission_typeparent_idsortremarksurlsys_codeiconis_deletecreate_userupdate_usercreate_timeupdate_time    </sql>

    <!--用于粘贴复制-->
    <select id="test" resultMap="PermissionsMap">
        select
permission_idpermission_namepermission_codepermission_typeparent_idsortremarksurlsys_codeiconis_deletecreate_userupdate_usercreate_timeupdate_time
        from system.permissions
        <where>
            <if test="permissionId != null">
                and permission_id = #{permissionId}
            </if>
            <if test="permissionName != null and permissionName != ''">
                and permission_name = #{permissionName}
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                and permission_code = #{permissionCode}
            </if>
            <if test="permissionType != null and permissionType != ''">
                and permission_type = #{permissionType}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="sysCode != null and sysCode != ''">
                and sys_code = #{sysCode}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="createUser != null">
                and create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                and update_user = #{updateUser}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

   

 

</mapper>

