<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grays2.system.mapper.PostMapper">

    <resultMap type="com.grays2.system.entity.Post" id="PostMap">
        <result property="postId" column="post_id" jdbcType="INTEGER"/>
        <result property="postName" column="post_name" jdbcType="VARCHAR"/>
        <result property="postCode" column="post_code" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="base_column">
post_idpost_namepost_codeparent_idorg_idiconsortis_deletecreate_userupdate_usercreate_timeupdate_time    </sql>

    <!--用于粘贴复制-->
    <select id="test" resultMap="PostMap">
        select
post_idpost_namepost_codeparent_idorg_idiconsortis_deletecreate_userupdate_usercreate_timeupdate_time
        from system.post
        <where>
            <if test="postId != null">
                and post_id = #{postId}
            </if>
            <if test="postName != null and postName != ''">
                and post_name = #{postName}
            </if>
            <if test="postCode != null and postCode != ''">
                and post_code = #{postCode}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="orgId != null and orgId != ''">
                and org_id = #{orgId}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="createUser != null">
                and create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                and update_user = #{updateUser}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

   

 

</mapper>

